<!-- Page Header -->
<header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Spring/Android/iOs developer</p>

            <p>Main skills:</p>
            <p>- Java (Webapps/REST services)</p>
            <p>- Android native apps developing</p>
            <p>- iOs native apps developing (Swift and Objective C)</p>

            <br/>

            <p>Knowledge related to Spring development:</p>
            <p>- Servlets, JSP</p>
            <p>- Build tools (Maven and Gradle)</p>
            <p>- Unit Testing Tools (JUnit, TestNG, Mockito)</p>
            <p>- Spring Boot</p>
            <p>- Hibernate, Spring Data</p>

            <br/>

            <p>Tasks successfully coped:</p>
            <p>- Hardware (camera, sensors )</p>
            <p>- Persistent data (SQLite)</p>
            <p>- Video/audio/photo editing</p>
            <p>- Face detection and face recognition</p>
            <p>- Push notifications</p>
            <p>- Facebook/Twitter/Google/Instagram integrations</p>
            <p>- In-App Purchases (Android and iOs)</p>
            <p>- Maps (Google maps, Apple maps, OSM) and geolocation</p>
            <p>- Navigation systems and trackers</p>


            <br/>

            <p>My page on <a href="https://www.upwork.com/freelancers/~01120963fb4c05bd4e" >Upwork</a></p>
        </div>
    </div>
</div>