<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>IT'S PERSONAL</h1>
                    <span class="subheading">Day Diary. Express yourself with pictures and words</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Member login</p>

            <div ng-show="invalidLogin" class="alert alert-danger">Invalid username/password</div>

            <form name="sentMessage" ng-submit="signin()" novalidate>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Username</label>
                        <input type="text" class="form-control" id="username"
                               placeholder="Username" ng-model="credentials.username"
                               required data-validation-required-message="Please enter your username.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Password</label>
                        <input type="password" class="form-control"  id="password"
                               placeholder="Password" ng-model="credentials.password"
                               required data-validation-required-message="Please enter your password.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" >Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

